/*!
 * CSS for Portalweb App (applied in template and base page code)
 */

.kids-row-format {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	border: 1px solid gray;
	color: #3264CD;
}

.cw-portal-navbar-image {
	border-radius: 50%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.cw-portal-navbar {
	background-color: #003366;
}